{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="card-deck my-4 d-flex justify-content-center">
                    <div class="card bg-gray border border-1" style="width: 18rem;">
                        <img src="https://cdn-icons-png.flaticon.com/512/122/122043.png" class="card-img-top img-fluid rounded" alt="imagen de usuarios">
                        <div class="card-body">
                            <h5 class="card-title">USUARIOS</h5>
                            <p class="card-text">Enlistar los Usuarios</p>
                            <a href="{{path('app_admin_empleados')}}" class="btn btn-primary">Mostrar</a>
                        </div>
                    </div>
                    <div class="card bg-gray border border-1" style="width: 18rem;">
                        <img src="https://cdn-icons-png.flaticon.com/512/346/346569.png" class="card-img-top img-fluid rounded" alt="imagen de usuarios">
                        <div class="card-body">
                            <h5 class="card-title">REGISTRAR</h5>
                            <p class="card-text">Ingresar al sistema un nuevo empleado</p>
                            <a href="{{path('app_admin_registerEmployee')}}" class="btn btn-primary">Mostrar</a>
                        </div>
                    </div>
                    <div class="card bg-gray border border-1" style="width: 18rem;">
                        <img src="https://static.vecteezy.com/system/resources/previews/008/326/013/non_2x/real-estate-building-logo-icon-design-free-vector.jpg" class="card-img-top img-fluid rounded" alt="imagen de usuarios">
                        <div class="card-body">
                            <h5 class="card-title">INMUEBLES</h5>
                            <p class="card-text">Enlistar los Inmuebles</p>
                            <a href="{{path('app_edificio_index')}}" class="btn btn-primary">Mostrar</a>
                        </div>      
                    </div>
                
        </div>
    </div>
{% endblock %}
