{% extends 'base.html.twig' %}

{% block title %}Home Asesor{% endblock %}

{% block body %}
<div class="container">
        <div class="card-deck my-4 d-flex justify-content-center">
            
                    <div class="card bg-gray border border-1" style="width: 18rem;">
                        <div class="col-md-4">
                            <img src="https://w7.pngwing.com/pngs/127/497/png-transparent-note-with-pen-logo-computer-icons-form-register-button-miscellaneous-angle-text.png" class="card-img-top img-fluid rounded" alt="imagen de usuarios">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <h5 class="card-title">PETICIONES</h5>
                                <p style="color: #808080" class="card-text">Enlistar las peticiones de inmuebles</p>
                                <a href="{{path('app_peticion_index')}}" class="btn btn-primary">Mostrar</a>
                            </div>
                        </div>
                    </div>
                
        </div>
    </div>
{% endblock %}
