<form method="post" action="{{ path('app_edificio_delete', {'idEdificio': edificio.idEdificio}) }}" onsubmit="return confirm('¿Desea Eliminar ese Inmueble?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ edificio.idEdificio) }}">
    </br>
    <button class="btn btn-danger">Delete</button>
</form>
