{% extends 'base.html.twig' %}

{% block title %}Crear Inmobiliario{% endblock %}

{% block body %}
    <h2 style="color: #808080">Crear un inmobiliario</h2>

    {{ include('edificio/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_edificio_index') }}">regresar</a>
{% endblock %}
