<div class="card" style="background: linear-gradient(to bottom, #f2f2f2, #d9d9d9); border-radius: 10px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);">
  <img src="https://th.bing.com/th/id/R.19de8bc87360e33520ed6e99eedcbf77?rik=U3ScWakLLPE3dA&pid=ImgRaw&r=0" class="card-img-top" alt="..."  style="width: 350px; height: 150px;">
  <div class="card-body">
    <h5 class="card-title">Título de la card</h5>
    <p class="card-text">Descripción de la card</p>
    <a href="#" class="btn btn-primary">Botón</a>
  </div>
</div>
