{% extends 'base.html.twig' %}

{% block title %}Editar Petición{% endblock %}

{% block body %}
    <h1>Modificar Petición</h1>

    {{ include('peticion/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info" href="{{ path('app_peticion_index') }}">Regresar</a>

    {{ include('peticion/_delete_form.html.twig') }}
{% endblock %}
