{% extends 'base.html.twig' %}

{% block title %}Crear Petición{% endblock %}

{% block body %}
    <h2 style="color: #808080">Crear una petición</h2>

    {{ include('peticion/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('app_peticion_index') }}">Regresar</a>
{% endblock %}
